@import "tailwindcss";


@theme  {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 760px;
  --breakpoint-lg: 968px;
  --breakpoint-xl: 1200px;
  --color-primary: #0c0c0d;
  --color-accent-DEFAULT: #eece1a;
  --color-accent-hover: #bda207;
}

@theme inline {
    --font-primary: var(--font-geist-mono);

}

@layer base {
  body {
    @apply font-primary bg-primary/95 text-white leading-loose;
  }
  .h1 {
    @apply text-[46px] lg:text-[50px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }
  
  .text-outline-hover {
    -webkit-text-stroke: 1px #eece1a;
  }
  
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl text-center;
  }

  /* .black-gradient {
    background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
  } */
}

.swiper-button-next,
.swiper-button-prev {
  color: #eece1a !important;        /* Set the color */
  top: 50% !important;              /* Vertically center */
  transform: translateY(-50%) !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px !important;       /* Adjust arrow size */
}


