@import "tailwindcss";


@theme  {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 760px;
  --breakpoint-lg: 968px;
  --breakpoint-xl: 1200px;
  --color-primary:#0a0014;
  --color-accent-DEFAULT: #6600cc;
  --color-accent-hover: #bda207;
  --color-text:#eae9eb;

}

@layer utilities {
  @keyframes wave {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }

  .animate-wave {
    animation: wave 2s infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
}


@theme inline {
    --font-primary: var(--font-geist-sans);

}

@layer base {
  * {
    @apply scroll-smooth
  }
  body {
    @apply font-primary bg-primary/95 text-text leading-loose;
  }
  .h1 {
    @apply text-[46px] lg:text-[50px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline {
    -webkit-text-stroke: 1px #eae9eb;
  }
  
  .text-outline-hover {
    -webkit-text-stroke: 1px #6600cc;
  }
  
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl text-center;
  }

  /* .black-gradient {
    background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
  } */
}

.swiper-button-next,
.swiper-button-prev {
  color: #6600cc !important;        /* Set the color */
  top: 50% !important;              /* Vertically center */
  transform: translateY(-50%) !important;
  width: 50px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px !important;       /* Adjust arrow size */
}



